body {
  padding-top: 80px;
}
.avatar {
  width: 250px;
}

/* Portfolio item */
.portfolio-item {
  position: relative;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.portfolio-item .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(26, 188, 156, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.portfolio-item .overlay span {
  font-size: 150px;
  color: white;
  font-weight: bold;
}
.active-link {
  background-color: #1abc9c;
  color: white !important;
  padding: 8px 16px;
  border-radius: 8px;
}
.divider .line {
  width: 80px;
  height: 4px;
  border-radius: 2px;
}
footer {
  background-color: #2c3e50;
}
.foot .row {
  padding-block: 80px;
}
.social-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.social-icon:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #fff;
}
.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #1abc9c;
}
.floating-field label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #1abc9c;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
/* form fields */
.floating-field input:not(:placeholder-shown) + label {
  top: -10px;
  opacity: 1;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #1abc9c;
}
.floating-field {
  margin-bottom: 50px;
}
.responsive-form {
  width: 50%;
}

@media (max-width: 768px) {
  .responsive-form {
    width: 100%;
  }
}
